<a href="https://colab.research.google.com/github/AryaThool/pwskillassignment/blob/main/DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Structure Assignment

#Theory Solutions

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently. They provide a systematic way of organizing data to enable effective usage and manipulation.
   - Importance of Data Structure
      - Efficient Data management
      -Improved Performance

2. Explain the difference between mutable and immutable data types with example.
   - Mutable data types are the objects whose content can be modified after creation.
      - Eg:- List, Dictionary etc.
   - Immutable functions are those objects whose content cannot be modified once created
      - Eg:- int, float, char, tuple etc.

3. What are the main differences between lists and tuples in Python?
   - Lists are mutable (can be changed), whereas tuples are immutable (cannot be changed after creation).

   - Lists use more memory but are flexible, while tuples are faster due to their immutability.

   - Syntax: list = [1, 2, 3], tuple = (1, 2, 3)

4. Describe how dictionaries store data?
   - Dictionaries store data as key-value pairs using a structure called a hash table.

   - Keys are hashed to a specific index where their corresponding values are stored.

5. Why might you use a set instead of a list in Python?
   - Duplicates should be avoided.

   - Faster membership tests are required (O(1) in sets vs. O(n) in lists).

6. What is a string in Python, and how is it different from a list?
   - A string is an immutable sequence of characters, while a list is a mutable sequence of elements (which can be of any type).
   - You can change elements in a list but not in a string.

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, making them ideal for data that must not change (e.
     g., coordinates, configurations), thus ensuring integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table maps keys to indices using a hash function.

   - Dictionaries in Python are implemented using hash tables to allow fast key-based lookups.

9. Can lists contain different data types in Python?
   - Yes, lists can contain multiple data type

10. Explain why strings are immutable in Python
    - Immutability allows memory optimization, thread safety, and makes strings hashable (usable as dictionary keys or set elements).

11. What advantages do dictionaries offer over lists for certain tasks?
    - Fast lookups (O(1))

    - Meaningful access via keys

    - Better structure for data where a key-value relationship is needed

12.  Describe a scenario where using a tuple would be preferable over a list.
     - When data must remain unchanged, such as:

         - Coordinates

         - Function returns that should not be altered

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
    - In lists: checks for value presence.

    - In dictionaries: checks for key presence, not values.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, tuples are immutable—once created, elements cannot be changed or replaced.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary has dictionaries as values.
    - Useful for representing structured data (e.g., JSON objects).

17. Describe the time complexity of accessing elements in a dictionary?
    - Access time is O(1) (average case), thanks to hashing.

18. In what situations are lists preferred over dictionaries?
   - Order matters

    - You only need indexed access

    - Data does not have natural keys

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries didn’t maintain insertion order

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List: Access by index (e.g., mylist[2])

    - Dictionary: Access by key (e.g., mydict["name"]) → allows more meaningful retrieval

# Practical Solutions

In [1]:
#Write a code to create a string with your name and print it
str = input("Enter Your Name: ")
print("Your name is : ", str)

Enter Your Name: Arya Thool
Your name is :  Arya Thool

In [2]:
#Write a code to find the length of the string "Hello World"
message = "Hello World"
print(len(message))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#Write a code to convert the string "hello" to uppercase
text = "hello"
print(text.upper())

HELLO

In [6]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [7]:
#Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [8]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a','b','c','d']
print(list[1])

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [15]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [16]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red','green','blue','yellow')
print(tuple[-2])

blue

In [18]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum_number = min(numbers)
print(minimum_number)

5

In [19]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [20]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [21]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [22]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [28]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Arya",
    "age": 19,
    "city": "Nagpur"
}
print(person)

{'name': 'Arya', 'age': 19, 'city': 'Nagpur'}

In [29]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'Arya', 'age': 19}
person['country'] = 'INDIA'
print(person)

{'name': 'Arya', 'age': 19, 'country': 'INDIA'}

In [30]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [31]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [32]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [33]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dictionary = {
    "name": "Arya",
    "age": 19,
    "city": "Nagpur"
}
print(dictionary)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Arya', 'age': 19, 'city': 'Nagpur'}

In [34]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 28, 34, 37, 100]

In [35]:
#Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "cherry", "date", "elderberry"]
print(list[3])

date

In [36]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
#Write a code to convert a list of strings into a set.
list = ["apple", "banana", "cherry", "date", "elderberry"]
set = set(list)
print(set)

{'apple', 'banana', 'cherry', 'date', 'elderberry'}